In [6]:
import pandas as pd

tabela = pd.read_excel('teste.xlsx')
display(tabela)

    Data
0   11.5
1   12.1
2    9.9
3    9.3
4    7.8
5    6.2
6    6.6
7    7.0
8   13.4
9   17.1
10   9.3
11   5.6
12   5.7
13   5.4
14   5.2
15   5.1
16   4.9
17  10.7
18  15.2
19   8.5
20   4.2
21   4.0
22   3.9
23   3.8
24   3.6
25   3.4
26  20.6
27  25.5
28  13.8
29  12.6
30  13.1
31   8.9
32   8.2
33  10.7
34  14.2
35   7.6
36   5.2
37   5.5
38   5.1
39   5.0
40   5.2
41   4.8
42   4.1
43   3.8
44   3.7
45   3.6
46   3.6
47   3.6

In [8]:
soma_total = float(tabela['Data'].sum())
print(soma_total)

387.8

In [9]:
def media(soma: float) -> float:
    return soma/46

In [11]:
print(f'res: {media(soma_total):.2f}')

res: 8.43